.card-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  max-width: 500px;
}
.container-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container-header iframe {
  width: 100%;
  height: 300px;
}
.container-header p {
  /* font-size: 1.2rem; */
  margin-top: 1rem;
}