
.product-container-filter {
  display: grid;
  grid-template-columns: 1fr;

  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  gap: 1rem;
  padding: 1rem;
}

.product-container-button-filter {
  display: grid;
  gap: 1rem;
  padding: 1rem;

  @media (min-width: 1024px) {
    grid-template-columns: 100px 100px;
    justify-content: end;
  }
}