@tailwind base;
@tailwind components;
@tailwind utilities;

.container-logo {
  @media (min-width: 1024px) {
    margin-top: 1rem;
  }
}

.container-form {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 1rem;

  @media (min-width: 1024px) {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
  }
}


.bg-red-400 {
  background-color: rgb(245, 54, 92) !important;
}

.bg-red-900 {
  background-color: rgb(164, 8, 39) !important;
}

.container-center {
  margin: auto 0;
}

.bg-gradient-black-white {
  height: 100vh;
  background: linear-gradient(to bottom,
      rgb(247, 85, 53) 0%,
      rgb(250, 41, 42) 50%,
      white 50%,
      white 100%);
}

.px-l-5 {
  padding-left: 1rem !important;
  padding-right: 1rem !important;

  @media (min-width: 1024px) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

:root {
  --bg-red-400: rgb(245, 54, 92) !important;
  --bg-red-600: rgb(164, 8, 39) !important;
  --bg-red-600a: rgba(164, 8, 39, 0.733) !important;
}


.container-terms-and-conditions {
  overflow: auto;
  height: 90vh;
  width: 90vw;

  @media (min-width: 1024px) {
    height: 800px;
  }
}

.container-card-products {
  display: grid;
  gap: 10px;
  margin-top: 2rem;
  width: 100%;
  grid-template-columns: repeat(auto-fill, 186px);
}