body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: black;
}

header {
    position: sticky;
    width: 100%;
    z-index: 1000;
}

nav {
    display: flex;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 10px;
}

ul {
    list-style: none;
    display: flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: #333;
    /* Change this to your preferred text color */
}

.search-bar {
    display: flex;
}

input {
    padding: 8px;
}

input[type="text"] {
    width: 250px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 10px;
}

button {
    padding: 8px;
    background-color: #f90;
    /* Change this to your preferred button color */
    color: #fff;
    /* Change this to your preferred text color */
    border: none;
    cursor: pointer;
}

.logo img {
    height: 70px;
}

.container section {
    padding: 50px 0;
}