.logo {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 10px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 15px;
}

a {
  text-decoration: none;
  color: #333;
  /* Change this to your preferred text color */
}

.search-bar {
  display: flex;
}

input {
  padding: 8px;
}

button {
  cursor: pointer;
}

.logo img {
  height: 70px;
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  height: 300px;
  width: 100%;
}

.thumbnail .keen-slider__slide {
  margin-top: 10px;
  height: 100px;
  width: 100px;
}

.thumbnail .keen-slider__slide {
  cursor: pointer;
}

.thumbnail .keen-slider__slide.active {
  border: 2px solid #f6422b;
}