.bg-gradient {
  @media (min-width: 1024px) {
    height: 100vh;
  }
  background: linear-gradient(
    to bottom,
    rgb(247, 85, 53) 0%,
    rgb(250, 41, 42) 30%,
    white 30%,
    white 100%
  );
}

.grid-row-1 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  color: #fff;
  @media (min-width: 1024px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}