.container-loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999999;
  clear: both;
}
.container-loading-spin {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-loading-spin svg {
  width: 100px;
  height: 100px;
}
